ControlMaster auto
ControlPath ~/.ssh/socket-%r@%h:%p
Compression yes
TCPKeepAlive yes
ServerAliveInterval 60
StrictHostKeyChecking no
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
